body {
	background-color: #ededed;
	font-family: verdana;
}

.container-fluid {
	border-radius: 40px;
	box-shadow: 0 0 20px #b6b6b6;
}

#form {
	width: 350px;
}

#berita {
	padding-top:80px;
}

#artikel {
	width :90%;
	margin: 10px auto;
}

#search {
	width: 250px;
}
